.item {
    width: 30%;
    height: 350px;
    background-color: #89c2dd;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

.item-preview img{
    margin: 0 auto;
    /* padding: 100px 0; */
    max-width: 90%;

    height: 200px;
    border-radius: 10px;
    
}

.item-preview{ 
    text-align: center;
}

.item-preview>p:last-of-type {
    margin-top: 10px;
}

.item > p:last-of-type {
    padding-bottom: 10px;
}

.category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.btn:hover {
    background-color: #fff;
    border: 2px solid #a09e9e;
    color: #0b0b0b;

}

.btn {
    width: 40%;
    height: 40px;
    margin: 10px auto;
    background-color: #dcd7d7;
    border: none;
    color: rgb(78, 78, 76);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}